<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card card-info m-5">
            <div class="card-header">
                Logistics
            </div>
            <div class="card-body">
                This application is demo to show how blockchain can be used for supply chain Logistics application.
                In this application, it is shown how the transfer of any asset can be recorded on the blockchain, so
                that noone in the supply chain can deny the transaction they have done. It provides the security to the application.
            </div>
        </div>
    </div>
</div>