<!-- <div class="container">
    <div class="row">
        {{userName}}
    </div>
    <app-created-nfts></app-created-nfts>
</div> -->

<br>
<div class="container">
    <div class="mx-auto">
      <div class=" card card-info mx-auto shadow " style="width: 90%;">
        <div class="card-header h2 font-weight-normal text-light">
          User Profile
        </div>
        <div class="card-body  text-justify" style="font-size: 16px" >
          <!-- <center>
            <img
              src={avatar}
              height="20%"
              width="20%"
              class="rounded-circle shadow"
              alt="avatar"
            />
          </center> -->
          
          <div class="card-text text-justify  ms-4 font-weight-normal h2 mt-3">
            <div class="row">
              <div class="col-md-7">
                <span class="ms-5">{{userName}} </span>
              </div>
              
              
            </div>
            
          </div>
          <hr style=" border-top: 2px solid slateblue" />
          <div class=" ms-5 fs-5 font-italic ">
            <div class="row m-3 p-2">
              <div class="col-md-11">
                <p class="card-text">
                  <i class="fas fa-envelope"></i>
                  <b>Email</b> : {{email}}
                </p>
              </div>
            </div>
            <div class="row m-3 p-2">
              <div class="col-md-11">
                <p class="card-text">
                  <i class="fas fa-user"></i>
                  <b>Username</b> : {{userName}}
                </p>
              </div>
            </div>
            <div class="row m-3 p-2">
              <div class="col-md-11">
                <p class="card-text">
                  <i class="fas fa-wallet"></i>
                  <b>Address</b> : <span class="walletAddress"> {{walletAddress}} </span>
                </p>
              </div>
            </div>
            <div class="row m-3 p-2">
              <div class="col-md-11">
                <p class="card-text">
                  <i class="fas fa-user-tag" style="margin-right: 6px;"></i>
                  <b>Role</b> : {{role | roleConverter | titlecase}}
                </p>
              </div>
            </div>
            <!-- <p class="card-text">
                <i class="fas fa-envelope"></i>
              <b>Email</b> :- {{email}}
            </p> -->
            
            <!-- <p class="card-text">
                <i class="fas fa-user"></i>
                <b>Username</b> :- {{userName}}
            </p> -->
            <!-- <p class="card-text">
              <i class="fas fa-user"></i>
              <b>Wallet Address</b> :- 
            </p> -->
        
          </div>
        </div>

        <!-- <div class="row mb-3 ms-2">
          <div class="col-md-4"  *ngIf="(role=='ROLE_SUPPLIER')"></div>
          <div class="col-md-1"></div>
          <div class="col-md-3 ps-5" *ngIf="(role=='ROLE_SUPER_ADMIN' || role=='ROLE_ADMIN')">
            <button class="btn btn-warning fw-bold pt-2 pb-2" (click)="showRequests(pendingFundRequest)">
              View Pending Fund Requests
            </button>
          </div>
          <div class="col-md-3 ps-4" *ngIf="(role=='ROLE_SUPER_ADMIN' || role=='ROLE_ADMIN' || role=='ROLE_SUPPLIER')">
            <button class="btn btn-warning fw-bold pt-2 pb-2" (click)="showRequests(pendingAssetRequest)">
              View Pending Asset Requests
            </button>
          </div>
          <div class="col-md-3" *ngIf="(role=='ROLE_SUPER_ADMIN' || role=='ROLE_ADMIN' || role=='ROLE_SUPPLIER')">
            <button class="btn btn-warning fw-bold" (click)="generatePdf()">
              <i style="font-size: 24px;cursor:pointer;" 
              class="fas fa-download ms-3"></i>Download Agreement
            </button>
          </div>
          <div class="col-md-2"></div>
        </div> -->


        <!-- <div class="row mb-3" *ngIf="(role=='ROLE_SUPPLIER')">
          <div class="col-md-4"  ></div>
          <div class="col-md-4 ps-5">
            <button class="btn btn-warning fw-bold pt-2 pb-2" (click)="showRequests(pendingAssetRequest)">
              View Pending Asset Requests
            </button>
          </div>
          <div class="col-md-4 mx-auto " >
            <button class="btn btn-warning fw-bold" (click)="generatePdf()">
              <i style="font-size: 24px;cursor:pointer;" 
              class="fas fa-download ms-3"></i>Download Agreement
            </button>
          </div>
        </div> -->

      </div>
      <!-- <div class="ms-1">
        <app-created-nfts></app-created-nfts>
      </div> -->
      
    </div>

    
  </div>



  <!-- ------------------- Show Pending Fund Requests --------------------- -->

<!-- <ng-template #pendingFundRequest let-modal > -->
  <!-- <div class="modal-dialog modal-dialog-centered"> -->
      <!-- <div class="modal-header">
          <p class="text-center fs-5">Pending Fund Request</p>
      <button type="button" class="btn-close" (click)="modal.dismiss()"  aria-label="Close"></button>
      </div>
      <div class="modal-body requests">
          <table class="table">
            <thead>
              <tr>
                <th>Requested By</th>
                <th>Amount</th>
                <th>Unique ID</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngIf="fundRequestList.length">
              <tr *ngFor="let request of fundRequestList" >
                <td> {{request.requestedBy}} </td>
                <td> {{request.amount}} </td>
                <td> {{request.uniqueId}} </td>
                <td>
                  <button class="btn btn-primary" (click)="approveFundRequest(request.uniqueId)">Approve</button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!fundRequestList.length">
              <tr>
                <td colspan="4">
                  <p  class="text-center fs-3 fw-light mt-3 ">No Pending Requests </p>
                </td>
              </tr>
              
            </tbody>
            
          </table>
      </div> -->
  <!-- </div> -->
<!-- </ng-template> -->




 <!-- ------------------- Show Pending Asset Requests --------------------- -->

 <!-- <ng-template #pendingAssetRequest let-modal > -->
  <!-- <div class="modal-dialog modal-dialog-centered"> -->
      <!-- <div class="modal-header">
          <p class="text-center fs-5">Pending Asset Request</p>
      <button type="button" class="btn-close" (click)="modal.dismiss()"  aria-label="Close"></button>
      </div>
      <div class="modal-body requests">
          <table class="table">
            <thead>
              <tr>
                <th>Requested By</th>
                <th>Asset Name</th>
                <th>Asset Description</th>
                <th>Asset Type</th>
                <th>Asset Quantity</th>
                <th>Unique ID</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngIf="assetRequestList.length">
              <tr *ngFor="let request of assetRequestList" >
                <td> {{request.receiverEmail}} </td>
                <td> {{request.assetName}} </td>
                <td> {{request.info}} </td>
                <td> {{request.assetType}} </td>
                <td> {{request.quantity}} </td>
                <td> {{request.uniqueTradeId}} </td>
                <td>
                  <button class="btn btn-primary" (click)="approveAssetRequest(request.uniqueTradeId)">Approve</button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!assetRequestList.length">
              <tr>
                <td colspan="6">
                  <p  class="text-center fs-3 fw-light mt-3 ">No Pending Requests </p>
                </td>
              </tr>
              
            </tbody>
            
          </table>
      </div> -->
  <!-- </div> -->
<!-- </ng-template> -->