<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6 offset-sm-1">
          <h1>Add New User</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-sm-8 offset-sm-1">
          <!-- general form elements -->
          <!-- Horizontal Form -->
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Add User</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" [formGroup]="createUserForm" (ngSubmit) = "addAdmin()">
              <div class="card-body">
                <div class="form-group row">
                  <label for="Search" class="col-sm-3 col-form-label">Name:</label>
                  <div class="col-sm-9">
                    <input type="text" name="name" formControlName="name" Class="form-control" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Search" class="col-sm-3 col-form-label">Role:</label>
                  <div class="col-sm-9">
                    <select name="role" formControlName="role" class="form-control">
                      <option [selected] = "true" [disabled] = "true">Assign Role </option>
                      <option value="ROLE_SUPER_ADMIN">Super Admin</option>
                      <option value="ROLE_ADMIN">Admin</option>
                      <option value="ROLE_USER">User</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="loginId" class="col-sm-3 col-form-label">Email:</label>
                  <div class="col-sm-9">
                    <input type="text" name="email" formControlName="email" class="form-control" />
                    <span class="input-group-btn" class="lookup-img" src="./assets/images/lookup.png"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="loginId" class="col-sm-3 col-form-label">Password:</label>
                  <div class="col-sm-9">
                    <input type="password" name="password" formControlName="password" class="form-control" />
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
              <!-- /.card-footer -->
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (left) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>