<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Role</h1>
      </div>
    </div>
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-info">
          <div class="card-header">
            Search Roles
          </div>
            <div class="card-body">
              <div class="row mt-3 container" >
                <div class="col-md-10"></div>
                <div class="col-md-2 text-right">
                  <button (click)="openAddRole(addRole)" type="button" value="Add" class="btn btn-primary mt-2">
                    <i class="fa fa-plus"></i>
                    Add Role
                  </button>
                </div>
              </div>
              <div class="row mt-3 container" >
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Role</th>
                      <th>Created By</th>
                      <th>Created On</th>
                      <th>Modified By</th>
                      <th>Modified On</th>
                      <!-- <th>Action</th> -->
                    </tr>
                  </thead>
                  <tbody *ngIf="roleList" style="background-color: rgba(0, 0, 0, 0.164);" >
                    <tr *ngFor="let role of roleList">
                      <td>
                        {{role.role | roleConverter | titlecase}}
                      </td>
                      <td>
                        {{role.roleCreatedBy  | titlecase}}
                      </td>
                      <td>
                        {{(role.roleCreatedOn)? (role.roleCreatedOn | date ):("2022-04-04T09:50:31.739230" | date)}}
                      </td>
                      <td>
                        {{(role.modifiedBy)? (role.modifiedBy | titlecase) : (role.roleCreatedBy  | titlecase)}}
                      </td>
                      <td>
                        {{(role.modifiedOn)? (role.modifiedOn | date) : ((role.roleCreatedOn)? (role.roleCreatedOn | date ):("2022-04-04T09:50:31.739230" | date))}}
                      </td>
                      <!-- <td>
                        <button name="edit" type="button" (click)="openEditRole(editRole,role.role)"
                           value="Edit" class="btn btn-warning btn-round btn-sm">
                          <i class="fa fa-edit"></i>Edit
                        </button>
                      </td> -->
                   </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ------------------- Add Role --------------------- -->

<ng-template #addRole let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Role</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"  aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addRoleForm" (ngSubmit)="addNewRole()">
      <div class="mb-3">
        <label for="proposedRole" class="col-form-label">Proposed Role:</label>
        <input type="text" class="form-control" placeholder="Enter New Role" id="proposedRole" formControlName="proposedRole">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="addRoleForm.invalid">
        <i class="fa fa-plus"></i>Add Role</button>
    </form>
  </div>
</ng-template>


<!-- ------------------------ Edit Role -----------------------  -->

<!-- <ng-template #editRole let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Role</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"  aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changeRoleForm" (ngSubmit)="changeRole()">
      <div class="mb-3">
        <label for="currentRole" class="col-form-label">Current Role:</label>
        <input type="text" class="form-control" id="currentRole" formControlName="existingRole">
      </div>
      <div class="mb-3">
        <label for="role" class="col-form-label">Role:</label>
        <input type="text" class="form-control" id="newName" formControlName="newName" placeholder="Enter new role"> -->
        <!-- <select name="role" class="form-control" formControlName="newName">
          <option [selected] = "true" [disabled] = "true" value="Search Role">Search Role </option>
          <option value="{{role.role}}" *ngFor="let role of roleList">{{role.role | roleConverter | titlecase}}</option>
        </select> -->
      <!-- </div> -->
      <!-- <button type="submit" class="btn btn-primary" [disabled]="changeRoleForm.controls['newName'].value=='Search Role'">
        <i class="fa fa-edit"></i>Change Role</button> -->
      <!-- <button type="submit" class="btn btn-primary" [disabled]="changeRoleForm.invalid">
        <i class="fa fa-edit"></i>Change Role</button>
    </form>
  </div>


</ng-template> -->


