<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6 offset-sm-1">
        <h1> Role</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<!-- left column -->
			<div class="col-md-8 offset-sm-1">
				<!-- general form elements -->
				<!-- Horizontal Form -->
				<div class="card card-info">
					<div class="card-header">
						<h3 class="card-title">Approve / Reject Role</h3>
					</div>
					<!-- /.card-header -->
					<!-- form start -->
					<!-- <form #modifyRole="ngForm" [formGroup]="approveRoleForm"> -->
						<!-- <div class="card-body">
							<div class="form-group row">
								<label for="Search" class="col-sm-3 col-form-label">Role Code:</label>
								<div class="col-sm-9">
                  <input type="text" style="width: 70%;" name="roleCode" formControlName="roleCode" [readonly]="true"
                  cssClass="lookup-bg form-control btn-xs" ngModel [(ngModel)]="singleRoleData.roleCode" />

								</div>
							</div>
							<div class="form-group row">
								<label for="Search" class="col-sm-3 col-form-label">Role Type:</label>
								<div class="col-sm-9">
                  <input [readonly]="true" type="text" style="width: 70%;" name="roleCode" formControlName="roleType" [readonly]="true"
                  cssClass="lookup-bg form-control btn-xs" [(ngModel)]="singleRoleData.roleType" />

								</div>
							</div>
							<div class="form-group row">
								<label for="loginId" class="col-sm-3 col-form-label">Role Name:</label>
								<div class="col-sm-9">
                  <input type="text" style="width: 70%;" name="roleName" formControlName="roleName" [readonly]="true"
                  cssClass="lookup-bg form-control btn-xs" [(ngModel)]="singleRoleData.roleName" />

									<span class="input-group-btn" class="lookup-img"
										src="./assets/images/lookup.png"></span>
								</div>
							</div>
							<div class="form-group row">
								<label for="loginId" class="col-sm-3 col-form-label">Role Description:</label>
								<div class="col-sm-9">
                  <input type="text" style="width: 70%;" name="roleDescription" formControlName="roleDescription" [readonly]="true"
                  [(ngModel)]="singleRoleData.roleDescription" cssClass="lookup-bg form-control btn-xs" />

								</div>
							</div>
						</div> -->
						<!-- /.card-body -->
						<!-- <div class="card-footer">
						  <button name="commandSearch" type="submit" value="Search"  (click)="approveUserRoleNew()"
						  class="btn btn-info">
            <i class="fa fa-check"></i>
            Approve
        </button> -->
        <!-- <a  >Add User
            </a> -->
              <!-- &nbsp;

        <button  type="submit" value="Add"  (click)="rejectUserRoleNew()"
		class="btn btn-primary">
            <i class="fa fa-ban"></i>
            Reject
        </button>
						</div> -->
						<!-- /.card-footer -->
					<!-- </form> -->
				</div>
				<!-- /.card -->

      </div>
      <!--/.col (left) -->

    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
