<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6 offset-sm-1">
				<h1> Role</h1>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<!-- left column -->
			<div class="col-md-8 offset-sm-1">
				<!-- general form elements -->
				<!-- Horizontal Form -->
				<div class="card card-info">
					<div class="card-header">
						<h3 class="card-title">Modify Role</h3>
					</div>
					<!-- /.card-header -->
					<!-- form start -->
					<!-- <form #modifyRole="ngForm" [formGroup]="modifyRoleForm" (ngSubmit)="modifyUserRole(modifyRoleForm.value)">
						<div class="card-body"> -->
							<!-- <div class="form-group row">
								<label for="Search" class="col-sm-3 col-form-label">Role Code:</label>
								<div class="col-sm-9">
                  <input type="text" style="width: 70%;" name="roleCode" formControlName="roleCode" [readonly]="true"
                  class = "form-control" ngModel [(ngModel)]="singleRoleData.roleCode" />
										<ul class="text-danger mt-1 list-unstyled"
										*ngIf="(formSubmitted||modifyRoleForm.controls['roleCode'].dirty) && modifyRoleForm.controls['roleCode'].invalid">
										<li *ngFor="let error of getValidationMessages(modifyRoleForm.controls['roleCode'])">
										  {{error}}
										</li>
									  </ul>
								</div>
							</div> -->
							<!-- <div class="form-group row">
								<label for="Search" class="col-sm-3 col-form-label">Role Type:</label>
								<div class="col-sm-9">
                  <input [readonly]="true" type="text" style="width: 70%;" name="roleCode" formControlName="roleType"
                  class = "form-control" [(ngModel)]="singleRoleData.roleType" />
									<ul class="text-danger mt-1 list-unstyled"
										*ngIf="(formSubmitted||modifyRoleForm.controls['roleType'].dirty) && modifyRoleForm.controls['roleType'].invalid">
										<li *ngFor="let error of getValidationMessages(modifyRoleForm.controls['roleType'])">
										  {{error}}
										</li>
									  </ul>
								</div>
							</div> -->
							<!-- <div class="form-group row">
								<label for="loginId" class="col-sm-3 col-form-label">Role Name:</label>
								<div class="col-sm-9">
                  <input type="text" style="width: 70%;" name="roleName" formControlName="roleName"
                  class = "form-control" [(ngModel)]="singleRoleData.roleName" />
										<ul class="text-danger mt-1 list-unstyled"
										*ngIf="(formSubmitted||modifyRoleForm.controls['roleName'].dirty) && modifyRoleForm.controls['roleName'].invalid">
										<li *ngFor="let error of getValidationMessages(modifyRoleForm.controls['roleName'])">
										  {{error}}
										</li>
									  </ul>
									<span class="input-group-btn" class="lookup-img"
										src="./assets/images/lookup.png"></span>
								</div>
							</div> -->
							<!-- <div class="form-group row">
								<label for="loginId" class="col-sm-3 col-form-label">Role Description:</label>
								<div class="col-sm-9">
                  <input type="text" style="width: 70%;" name="roleDescription" formControlName="roleDescription"
                  [(ngModel)]="singleRoleData.roleDescription" class = "form-control" />
										<ul class="text-danger mt-1 list-unstyled"
										*ngIf="(formSubmitted||modifyRoleForm.controls['roleDescription'].dirty) && modifyRoleForm.controls['roleDescription'].invalid">
										<li *ngFor="let error of getValidationMessages(modifyRoleForm.controls['roleDescription'])">
										  {{error}}
										</li>
									  </ul>
								</div>
							</div> -->
						<!-- </div> -->
						<!-- /.card-body -->
						<!-- <div class="card-footer">
							<button type="submit" class="btn btn-info">Submit</button>
              <button class="btn btn-default btn-primary float-right" [routerLink]="'/role'"><i class="fas fa-arrow-left"></i>Back</button>

						</div> -->
						<!-- /.card-footer -->
					<!-- </form> -->
				</div>
				<!-- /.card -->

			</div>
			<!--/.col (left) -->

		</div>
		<!-- /.row -->
	</div><!-- /.container-fluid -->
</section>
