<section class="content">
    <div class="container-fluid">
        <div class="row">
        <!-- left column -->
            <div class="col-md-6 offset-sm-2">
                <!-- general form elements -->
                <!-- Horizontal Form -->
                <div class="card card-info shadow mt-5">
                <div class="card-header">
                    <div class="text-left h5"><small>User Name : {{userName}}</small></div>
                    <div class="text-left h5"><small>Wallet Address : {{walletAddress}}</small></div>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body p-3">
                    <!-- <div class="row">
                        <div class="col-md-4 offset-sm-8 text-right">
                            <button class="btn-outline-primary btn-round text-primary bg-white privateKeyBtn" (click)="showPrivateKey(PrivateKey)">Export Credentials</button>
                        </div> 
                    </div> -->
                    <div class = " mt-3 mb-3 text-center">
                    <!-- <i class="fas fa-5x fa-hand-holding-usd" style="color: slateblue ;"></i> -->
                        <img src="assets/template/images/LST.jpeg" alt="Logistics" style="height: 5%; width: 25%;" class="ml-3 rounded-circle">
                    <div class="card-text h4 mt-4">
                        Tokens : {{funds}} LST
                    </div>
                    <div class="row mt-4 ">
                        <div class="col-md-4 offset-sm-4 d-grid gap-2">
                            <button class="btn btn-primary" (click)="addFunds(fundRequest)">Request Funds</button>
                        </div> 
                    </div>
                    </div>
                </div>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>



<!-- ------------------- Show Private Key --------------------- -->

<ng-template #PrivateKey let-modal >
    <!-- <div class="modal-dialog modal-dialog-centered"> -->
        <div class="modal-header">
            <p class="text-center fs-4">Your Credentials</p>
        <button type="button" class="btn-close" (click)="modal.dismiss()"  aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- <p class="text-center fs-4">Your Credentials</p> -->
            <p class="ps-2">This is your public key</p>
            <div class="card p-3 border border-dark">
                {{publicKey}}
            </div>
            <p class="ps-2">This is your private key</p>
            <div class="card p-3 text-danger border border-dark">
                {{privateKey}}
            </div>
            <div class="card text-danger p-3" style="background-color: #fdeff1;">
                Warning: Never disclose your private key. Anyone with your private keys can steal any assets held in your account.
            </div>
        </div>
    <!-- </div> -->
  </ng-template>


  
  <!-- ------------------- Fund Request --------------------- -->

  <ng-template #fundRequest let-modal >
    <!-- <div class="modal-dialog modal-dialog-centered"> -->
        <div class="modal-header">
            <p class="text-center h4">Add Funds</p>
        <button type="button" class="btn-close" (click)="modal.dismiss()"  aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>
                <p class="h6">Your Current Balance : {{funds}} LST</p>
            </div>
            <form [formGroup]="requestLST" (ngSubmit)="sendFundrequest()">
                <div class="mb-3">
                    <label for="amount" class="h6 form-label">Amount(LST): </label>
                    <input type="number" class="form-control" id="amount" placeholder="Enter Amount" formControlName="amount" />
                </div>
                <div class="col-12 d-grid gap-2">
                    <button type="submit" class="btn btn-warning" [disabled]="requestLST.invalid">Add Funds to Your Account</button>
                </div>
            </form>
        </div>
    <!-- </div> -->
  </ng-template>