.privateKeyBtn{
    background-color: white;
}
.privateKeyBtn:hover{
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,.08);
    /* color: #ff4658; */
}
/* .customModalClass .modal-dialog {
    width: 1000px;
}
   */

.publicKey{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
}

.publicKey:hover{
    overflow: visible;
}