.form-group
{
    padding-left: 3%;
    text-align: left;
    padding-top: 1%;
}
.col-md-offset-3
{
    padding-left: 3%;

}
.btn-xs
{
    height: 40%;
}

span.fa-2x{
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: max-content;
    width: max-content;
    color: white;
    padding: 10px;
    border-radius: 10px;
}


.bar{
    height: 10px;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    margin-right: 15px;
}


.iconsDisplay{
    display: inline-block;
}

table{
    margin-top: 20px;
}
td{
    padding: 10px;
    margin: 10px;
}
.msg {
    text-align: left;
}
.truck{
    position: relative;
    left: 45%;
    top:-20px;
}
.barIcon{
    display: inline-block;
}
.mt-2
{
    padding-left: 20%;
}

agm-map{
  height: 400px;
  width: 100%
}
