<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6 offset-sm-1">
				<h1>Add New User</h1>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<!-- left column -->
			<div class="col-md-8 offset-sm-1">
				<!-- general form elements -->
				<!-- Horizontal Form -->
				<div class="card card-info">
					<div class="card-header">
						<h3 class="card-title">Add User</h3>
					</div>
					<!-- /.card-header -->
					<!-- form start -->
					<!-- <form class="form-horizontal" [formGroup]="createUserForm"
						(ngSubmit)="addNewUser(createUserForm.value)">
						<div class="card-body">
							<div class="form-group row">
								<label for="Search" class="col-sm-2 col-form-label">Login ID:</label>
								<div class="col-sm-10">
									<input type="text" name="loginId" formControlName="loginId" class="form-control" />
									<ul class="text-danger mt-1 list-unstyled"
										*ngIf="(formSubmitted||createUserForm.controls['loginId'].dirty) && createUserForm.controls['loginId'].invalid">
										<li *ngFor="let error of getValidationMessages(createUserForm.controls['loginId'])">
										  {{error}}
										</li>
									  </ul>
								</div>
							</div>
							<div class="form-group row">
								<label for="loginId" class="col-sm-2 col-form-label">User Name:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="userName" formControlName="userName">
									<ul class="text-danger mt-1 list-unstyled"
										*ngIf="(formSubmitted||createUserForm.controls['userName'].dirty) && createUserForm.controls['userName'].invalid">
										<li *ngFor="let error of getValidationMessages(createUserForm.controls['userName'])">
										  {{error}}
										</li>
									  </ul>
								</div>
							</div>
							<div class="form-group row">
								<label for="Search" class="col-sm-2 col-form-label">Role Name:</label>
								<div class="col-sm-10">
									<select name="mySelect" class="form-control" [(ngModel)]="mySelect"
										(change)="selectChange()" name="userRoleName" formControlName="userRoleName">
										<option [value]="userRole.id" *ngFor="let userRole of userRoleList">
											{{userRole.roleName}}
										</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="loginId" class="col-sm-2 col-form-label">Email ID:</label>
								<div class="col-sm-10">
									<input type="email" name="userEmailId" formControlName="userEmailId"
										class="form-control" />
										<ul class="text-danger mt-1 list-unstyled"
										*ngIf="(formSubmitted||createUserForm.controls['userEmailId'].dirty) && createUserForm.controls['userEmailId'].invalid">
										<li *ngFor="let error of getValidationMessages(createUserForm.controls['userEmailId'])">
										  {{error}}
										</li>
									  </ul>
								</div>
							</div>
						</div> -->
						<!-- /.card-body -->
						<!-- <div class="card-footer">
							<button type="submit" class="btn btn-info">Submit</button>
							<button class="btn btn-default btn-primary float-right" [routerLink]="'/user'"><i class="fas fa-arrow-left"></i>Back</button>
						</div> -->
						<!-- /.card-footer -->
					<!-- </form> -->
				</div>
				<!-- /.card -->

			</div>
			<!--/.col (left) -->

		</div>
		<!-- /.row -->
	</div><!-- /.container-fluid -->
</section>
